{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
    {{ form.non_field_errors }}
    {% if form.username.errors %}
        <p> Username
        {{ form.username.errors }}</p>
    {% endif %}
    {% if form.password.errors %}
        <p> Password
        {{ form.password.errors }}</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
