<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css" />
        <title> {% block title %} This is a base title {% endblock %} </title>
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
                <li><a href="/send/">Send</a></li>
                <li><a href="/launch_match/">Launch Match</a></li>
                <li><a href="{% url match_results_list %}"> Results List </a></li>
            </ul>
            {% endblock %}
        </div>
        
        <div id="content">
            {% block content %}
                this is a base content
            {% endblock %}
        </div>
    </body>
</html>
