{% extends "base.html" %}

{% block css %}
<link rel='stylesheet' href="{{ MEDIA_URL }}index.css" />
{% endblock %}

{% block content %}

<div id='welcome_news'>
<h1> Welcome to AI-Arena! </h1>

<p class='p_news'>
We are pleased to announce the very first contest on AI-Arena!
In cooperation with Codility we present you and encourage to participate in the contest of fighting programs, where you can test
your skills!
</p>

<p class='p_news'>
In the future AI-arena will be a place where you can learn and try all the tricks from artificial intelligence in practice.
Meanwhile, you can help us to improve the service, by taking part in the current contest and by sharing your suggestions with us :).
</p>

<h2> Contest game </h2>

<p class='p_news'>
The game called Pok is one-on-one simple version of Texas Hold'em Poker. The rules are following:<br>
There are two players and every deal, each of them receives one private card.
Then they bet twice and the winner gets points, which are in the final stake.
The goal is to gain more points then the opponent, what can be achieved by betting cautiously, depending on the card and opponent behaviour.
</p>
<p class='p_news'>
The game consists of 200 deals. Here is precise description of a deal:
<ol>
    <li> Each player receives one random card 0, 1, 2, 3 or 4.
    <li> First bet:
        <ul>
            <li> Players bet simultaneously and secretly, no less then 10 and no more then 200.
            <li> If one of the players bets less then his opponent, he can fold(surrender the stake) or call(agree on higher stake).
            <li> If he folds, this is the end of the deal and his opponent gains the lower stake.
            <li> If he calls, the stake is raised and deal continues.
        </ul>
    <li> Second bet:
        <ul>
            <li> Only if players agreed on the stake in first bet.
            <li> Runs in the same way as first, and the stake is added to first one.
        </ul>
    <li> Showdown:
        <ul>
            <li> Only if players agreed on the stake in second bet.
            <li> Players show their cards. The one with higher card gains the stake. In case of draw nobody gains any points.
        </ul>
</ol>
</p>

<h2>
Good Luck!
</h2>

</div>
{% endblock %}
