{% extends "base.html" %}

{% block css %}
<link rel='stylesheet' href="{{ MEDIA_URL }}index.css" />
{% endblock %}

{% block content %}

<div id='welcome_news'>
    
    <div id='logo'>
        <img src="{{ MEDIA_URL }}img/logo.png" />
    </div>
<h1> Welcome to AI-Arena! </h1>

<p class='p_news'>
AI-arena is a place where you can learn and try all the tricks from artificial intelligence in practice.
You can help us to improve the service by <a href="{% url contact_us %}" > sharing your suggestions with us </a>.
</p>

</div>
{% endblock %}
