{% extends "base.html" %}

{% block css %}
<link rel='stylesheet' href="{{ MEDIA_URL }}index.css" />
{% endblock %}

{% block content %}

<div id='welcome_news'>
<h1> Welcome to AI-Arena! </h1>

<p class='p_news'>
We are pleased to announce the very first contest on AI-Arena!
In cooperation with Codility we present you and encourage to participate in the contest of fighting programs, where you can test
your skills!
</p>

<p class='p_news'>
In the future AI-arena will be a place where you can learn and try all the tricks from artificial intelligence in practice.
Meanwhile, you can help us to improve the service, by taking part in the current contest and by sharing your suggestions with us :).
</p>

<h2> Contest </h2>

<p class='p_news'>
In order to participate in the contest You should register and submit a source code of bot playing Pok.
It can be implemented in C, C++, Java or Python.
The contest is scheduled as round-robin tournament, which means that a bot plays with all other bots exactly once.
He gains 2 points for win, 1 for draw and 0 for loss.
The position in a ladder depends on total sum of points.
Each user can submit at most one bot source files (WARNING: sending next source file will override any previoulsy submitted files!).
</p>

<h2> Pok game </h2>

<p class='p_news'>
The game called Pok is one-on-one simple version of Texas Hold'em Poker. The rules are following:<br>
There are two players and every deal each of them receives one private card.
Then they bet twice and the winner gets points, which are in the final stake.
The goal is to gain more points then the opponent, what can be achieved by betting cautiously, depending on the card and opponent behaviour.
A draw is possible if players reached the same amount of points.
</p>
<p class='p_news'>
The game consists of 200 deals. Here is precise description of a deal:
<ol>
    <li> Each player receives one random card 0, 1, 2, 3 or 4.
    <li> First bet:
        <ul>
            <li> Players bet simultaneously and secretly, no less then 10 and no more then 200.
            <li> If one of the players bets less then his opponent, he can fold(surrender the stake) or call(agree on higher stake).
            <li> If he folds, this is the end of the deal and his opponent gains the lower stake.
            <li> If he calls, the stake is raised and deal continues.
        </ul>
    <li> Second bet:
        <ul>
            <li> Only if players agreed on the stake in first bet.
            <li> Runs in the same way as first, and the stake is added to first one.
        </ul>
    <li> Showdown:
        <ul>
            <li> Only if players agreed on the stake in second bet.
            <li> Players show their cards. The one with higher card gains the stake. In case of draw nobody gains any points.
        </ul>
</ol>
</p>

<h2> Protocol </h2>

<p class='p_news'>
A bot program should write on standard output and read from standard input.
Every message he sends consists of one integer number followed by endline character.
Messages sent to bot may contain one or more integers separeted by whitespace characters, ended by endline character.
During a single deal bot exchanges following numbers in this order:
<ol>
    <li> Receives a number(from 0 to 4) indicating his private card.
    <li> First bet:
        <ul>
            <li> Sends his bet(from 10 to 200).
            <li> Receives a number indicating a bet of his opponent.
        </ul>
    <li> Then, depending on if his opponent's bet is:
        <ul>
            <li> higher - if bot is going to call skips to the next step, else(folding) sends 0 finishing a deal.
            <li> lower - receives 0 or 1. 0 means that his opponent folds and this is the end of a deal, 1 means that opponent calls and a deal continues.
            <li> equal - then just goes to next step.
        </ul>
    <li> Second bet. Looks exactly like steps 2 and 3. If he or his opponent folds, a deal is finished.
    <li> Showdown. If players agreed on a stake value, receives a number indicating his opponent's card.
</ol>
A single game consists of 200 deals in a row. If bot exceeds time or memory limit, or does not follow the protocol, he loses the game.
</p>

<h2> Limits </h2>

<p class='p_news'>
Limits for bot, which oblige during each game, are: <b> USTALIC</b> for memory and <b>USTALIC</b> for time.
</p>

<h2>
Good Luck!
</h2>

</div>
{% endblock %}
