{% extends "base.html" %}

{% block css %}
<link rel='stylesheet' href='{{ MEDIA_URL }}/testing.css' />
{% endblock %}

{% block content %}
<div class='content_container'>
    <table id='match_details'>
        <tr>
            <td></td>
            {% for player in match.players_results.all %}
                <td id='players'>
                    <h3>{{ player.bot.name }} </h3>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Scores:</td>
            {% for player in match.players_results.all %}
                <td>
                    <span class='player_name'>{{ player.score }} </span>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Time:</td>
            {% for player in match.players_results.all %}
                <td>
                    <span class='player_name'>{{ player.time_used }} </span>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Memory usage:</td>
            {% for player in match.players_results.all %}
                <td>
                    <span class='player_name'>{{ player.memory_used }} </span>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Logs:</td>
            <td colspan=2>{{ match.logs }}</td>
        </tr>
    </table>
</div>
{% endblock %}
