#description{
    padding: 15px;
    border: 3px solid gray;
    border-radius: 15px;
    background-color: #FAF8CC;
}

#game_menu{
    width: 150px;
    float: left;
    padding: 15px;
    margin: 15px;
}

#main_panel{
    float: left;
    width: 60%;
    margin: 15px;
}

#error_msg{
    color: #FF0000;
}

table, table th, table td{
    padding: 2px 2px 2px 2px;
    border: 0px;
    margin: 2px;
}

.comment{
    background-color: #F3F3F3;
    margin: 2px;
}

.photo{
    width: 100px;
}

.img_avatar{
    height: 100px;
    width: 100px;
}

.comment_all{
    padding-right: 2px;
    margin-right: 2px;
}

.comment_info_bar{
    border-bottom: 1px solid gray;
}

.comment_date{
    color: #888888;
}

.comment_options{
    text-align: right;
    padding-right: 20px;
}

.comment_content{

}

.comment_username{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: "Comic Sans", Comic Sans MS, cursive;
    color: #800080;
}
