#description{
    padding: 15px;
    border: 3px solid gray;
    border-radius: 15px;
    background-color: #FAF8CC;
}

#game_menu{
    width: 150px;
    float: left;
    padding: 15px;
    margin: 15px;
}

#main_panel{
    float: left;
    width: 60%;
    margin: 15px;
}

.img_avatar{
    height: 100px;
    width: 100px;
}

.comment{
    background-color: #F0F0F0;
    margin: 2px;
}

.photo{
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 10px;
    display: inline-block;
}

.comment_date{
    position: relative;
    top: 10px;
    left: 130px;
    display: inline-block;
}
