#sidebar{
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
}

#sidebar ul{
    list-style: none;
}



#loginbar{
    height: 17px;
    position: absolute;
    top:0px;
    right:0px;
}

#loginbar p{
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 5px;
}

#content{
    position: absolute;
    top: 17px;
    left: 200px;
}
