<div id='comments'>
    {% for comment in comments %}
    <table class='comment'>
        <tr>
            <td class='photo'>
                <table>
                    <tr><td>
                    {% if request.user.get_profile %}
                        <img src='{{ request.user.get_profile.photo }}' class='img_avatar' />
                    {% else %}
                        <img src='{{ MEDIA_URL }}profiles/photos/default_avatar.jpg' class='img_avatar'/>
                    {% endif %}
                    </td></tr>

                    <tr><td class='comment_username'>
                        {{ comment.user.username }} 
                    </td></tr>
                </table>
            </td>

            <td>
            <table class='comment_all'>
                <tr class='comment_info_bar'>
                    <td class='comment_date'>
                        This post was submitted {{ comment.date_set }}
                    </td>
                    <td class='comment_options'>
                        {% if user.is_staff or user.username == comment.user.username or user in moderators %}
                        Edit | 
                        {% if is_game_template %}
                            <a href='/game_details/{{ game.id }}/delete_comment/{{ comment.id }}/'>Delete</a>
                        {% endif %}
                        {% if is_contest_template %}
                            <a href='/contests/show_contest/{{ contest.id }}/delete_comment/{{ comment.id }}'>Delete</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class='comment_content'>
                        {{ comment }}
                    </td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
    {% endfor %}
</div>
