{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL}}game_details.css" />
{% endblock %}

{% block content %}
    <div id="game_menu">
        <div><a href="/send_bot/{{ game.id }}/">Send bot for this game</a></div> 
        <div><a href="/game_details/{{game.id}}/source/">Show source of the judge</a></div>
        <div><a href="/add_comment/{{game.id}}/">Add comment</a></div>
    </div>

    <div id='main_panel'>
        <div id="description">
        {% for line in game_details %}
            {{ line }} <br>
        {% endfor %}
        </div>
        
        <div id='comments'>
            {% for comment in comments %}
            <div class='comment'>
                <div class='photo'> 
                {% if request.user.get_profile %}
                    <img src='{{ request.user.get_profile.photo }}' class='img_avatar' />
                {% else %}
                    <img src='{{ MEDIA_URL }}profiles/photos/default_avatar.jpg' class='img_avatar'/>
                {% endif %}    
            </div>
                <div class='comment_date'>data komentarza</div>
                <div class='comment_options'>Edycja/usuniecie</div>
                <div class='comment_content'>{{ comment }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
