{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL}}game_details.css" />
{% endblock %}

{% block content %}
    <div id="game_menu">
        <div><a href="/send_bot/{{ game.id }}/">Send bot for this game</a></div> 
        <div><a href="/game_details/{{game.id}}/source/">Show source of the judge</a></div>
        <div><a href="/game_details/add_comment/{{game.id}}/">Add comment</a></div>
    </div>

    <div id='main_panel'>
        {% if error_msg %}
            <h1 id='error_msg'> {{ error_msg }} </h1>
        {% endif %}

        <div id="description">
        {% for line in game_details %}
            {{ line }} <br>
        {% endfor %}
        </div>

        {% include "gaming/comments.html" %}
    </div>
{% endblock %}
