#welcome_news{
    margin: 10px;
    margin-left: 50px;
    width: 60%;
    text-align: justify;
}

.p_news{
    font-size: 14px;
}

#logo{
    width: 80px;
    height: 80px;
    float: right;
    opacity: 0.5;
}
