{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}game_edit.css" />
{% endblock %}

{% block content %}

<div id='additional_info'>
    Here you can update game details.
    Remember that if you upload game rules file, your changes id description will be automaticly discarded!
</div>

<form action='/game_details/{{ game.id }}/edit/' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}

    {{ form.as_p }}
    <p><input type='submit' value='Accept changes' /></p>
</form>
{% endblock %}
