{% extends 'base.html' %}
{% load i18n adminmedia %}

{% block head %}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
    {{ form.media }}
{% endblock %}

{% block content %}

    {% if user_profile %}
    {% endif %}

    {% if form %}
    <form enctype='multipart/form-data' action='/profile_edit/' method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
            <p><input type='submit' value='Update' /></p>
        </form>
    {% endif %}


{% endblock %}
