{% extends 'base.html' %}

{% block content %}
    <p>Contest name: {{ contest.name }} </p>
    <p><a href="{% url add_contestant contest.id %}"> Add contestant </a></p>
    {% if ranking_list %}
    <p>
        <table>
            <tr>
                <td> Position </td>
                <td> Bot name </td> 
                <td> Owner </td>
                <td> Matches played </td>
                <td> Score </td>
            </tr>
            {% for rank in ranking_list %}
            <tr>
                <td> {{ rank.position }} </td>
                <td> {{ rank.bot.name }} </td>
                <td> {{ rank.bot.owner.username }} </td>
                <td> {{ rank.matches_played }} </td>
                <td> {{ rank.overall_score }} </td>
            </tr>
            {% endfor %}
        </table>
    </p>
    {% endif %}

{% endblock %}
